# API Dependencies
fastapi
uvicorn
python-multipart

# Core Dependencies
pydantic
pydantic-core
pydantic-settings
python-dotenv

# LangChain et composants IA
langgraph
langchain
langchain_openai
langchain-core
langchain-community

# Vector Store

faiss-cpu

# Testing
pytest
pytest-asyncio
httpx
pytest-cov

# Utilitaires
markdown
black


# Outils
streamlit
python-dotenv
