# API Dependencies
fastapi>=0.95.0
uvicorn>=0.21.1
python-multipart

# Socket.IO Dependencies
python-socketio[asyncio_client]
python-engineio>=4.11.1
fastapi-socketio
aiohttp>=3.11.0
websocket-client>=1.8.0
requests>=2.32.3

# Core Dependencies
pydantic>=2.0.0
pydantic-core
pydantic-settings
python-dotenv>=1.0.0

# LangChain et composants IA
langchain>=0.1.0
langchain_openai
langchain-core
langchain-community
langgraph

# Vector Store
faiss-cpu>=1.7.4

# Testing
pytest>=7.4.3
pytest-asyncio>=0.21.1
httpx
pytest-cov>=4.1.0

# Utilitaires
markdown
black>=23.11.0
typing-extensions>=4.8.0
isort>=5.12.0
mypy>=1.7.1
ruff>=0.1.6
loguru>=0.7.2

# Outils
python-dotenv>=1.0.0

#docs
mkdocs