// Header component styles
.md-header {
    transition: transform 0.25s ease;
    height: 2rem;
    background-color: var(--md-primary-fg-color) !important;
    box-shadow: 0 0 0.2rem rgba(0,0,0,.1), 0 0.2rem 0.4rem rgba(0,0,0,.2);

    &__inner {
        transition: padding 0.3s ease;
        height: 2rem;
        padding: 0.2rem;
    }

    &__title {
        transition: font-size 0.3s ease;
        margin-left: 0;
        line-height: 2rem;
    }

    &.scrolled {
        .md-header__inner {
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
        }

        .md-header__title {
            font-size: 1.1rem;
        }
    }
}
